<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooApp.Properties.Settings.AcmeDBConnectionString"
            connectionString="Data Source=DESKTOP-QJRU8UI;Initial Catalog=AcmeDB;User ID=sa;Password=forgetit"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>